.main {
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 88px 0px 0px 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main__title {
  margin: 24px auto 0px;
  max-width: 1280px;
  font-style: normal;
  font-weight: 800;
  font-size: 108px;
  line-height: 140px;
  text-align: center;  
  color: var(--white-color);
}
.main__subtitle {
  margin: 16vh auto 0px;
  max-width: 1280px;
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 1.4px;
}
.main__marquee {
  margin: 24px 36px 0px 0px;
  background: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px; 
  text-align: center;
  color: var(--white-color);
}
.main__button {
  margin: auto auto 0px;
  font-style: normal;
  min-width: 300px;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding: 12px 22px;
  border-radius: 10px;
  color: var(--main-color);
  background-color: var(--white-color);
  box-shadow: 0 8px 12px -8px rgb(255 255 255 / 90%);
  transition: all .3s ease-in-out;
}
.main__button:hover {
  color: var(--white-color);
  background-color: var(--main-color);
  box-shadow: 0 8px 12px -8px rgb(0 55 196 / 90%);
  cursor: pointer;
}
.main__button_type_enter {
  margin: 24px auto 0px;
  min-width: 300px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  padding: 12px 22px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--main-color);
  box-shadow: 0 8px 12px -8px rgb(0 55 196 / 90%);
  transition: all .3s ease-in-out;
}
.main__button_type_enter:hover {
  color: var(--main-color);
  background-color: var(--white-color);
  box-shadow: 0 8px 12px -8px rgb(255 255 255 / 90%);
  cursor: pointer;
}
.main__arrow {
  margin: auto auto 32px;
  width: 64px;
  height: 32px;
  background-image: url('../../images/main-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .3s ease-in-out;
}
.main__arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media all and (max-width: 1599px) {
  .main__title {
    font-size: 104px;
    line-height: 131px;
  }
  .main__subtitle {
    font-size: 52px;
    line-height: 58px;
  }
  .main__marquee {
    font-size: 24px;
    line-height: 32px; 
  }
}

@media all and (max-width: 1023px) {
  .main {
    justify-content: center;
  }
  .main__title {
    margin: 16px auto 0px;
    max-width: 400px;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
  }
  .main__subtitle {
    margin: 5vh auto 0px;
    padding: 0px 16px;
    max-width: 400px;
    font-size: 24px;
    line-height: 28px;
  }
  .main__arrow {
    margin: 15vh auto 32px;
  }
}