@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-Regular.eot'),
		url('./Geometria/Geometria-Regular.woff') format('woff'),
		url('./Geometria/Geometria-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-Light.eot'),
		url('./Geometria/Geometria-Light.woff') format('woff'),
		url('./Geometria/Geometria-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-Thin.eot'),
		url('./Geometria/Geometria-Thin.woff') format('woff'),
		url('./Geometria/Geometria-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-ExtraLight.eot'),
		url('./Geometria/Geometria-ExtraLight.woff') format('woff'),
		url('./Geometria/Geometria-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-Bold.eot'),
		url('./Geometria/Geometria-Bold.woff') format('woff'),
		url('./Geometria/Geometria-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-Medium.eot'),
		url('./Geometria/Geometria-Medium.woff') format('woff'),
		url('./Geometria/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('./Geometria/Geometria-ExtraBold.eot'),
		url('./Geometria/Geometria-ExtraBold.woff') format('woff'),
		url('./Geometria/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
