.header {
  width: 100%;
  padding: 24px 80px;
  box-sizing: border-box;
  z-index: 100;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: all .3s ease-in-out;
}
.header_type_color {
  background: var(--white-color);
}
.header__logo {
  margin: 0px;
  width: 320px;
  height: 40px;
  object-fit: contain;
  object-position: center;
  user-select: none;
  pointer-events: none;
  flex-shrink: 0;
}
.nav {
  margin: 0px 0px 0px auto;
}
.nav__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav__item {
  margin: 0px 59px 0px 0px;
  position: relative;
}
.nav__link {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--white-color);
  transition: all .3s ease;
  z-index: 100;
}
.nav__link_type_color {
  color: var(--title-color);
}
.nav__item:hover .nav__link {
  cursor: pointer;
  color: var(--secondary-color);
}
.nav__item:hover .nav__link_type_color {
  color: var(--title-color);
}
.nav__link-round {
  opacity: 0;
  background-color: var(--white-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: -1;
  transition: all .3s ease;
}
.nav__link-round_type_color {
  background-color: var(--secondary-color);
}
.nav__item:hover .nav__link-round  {
  opacity: 1;
}
.nav__link_type_active + .nav__link-round {
  background-color: var(--secondary-color);
  opacity: 1;
}
.header__btn-enter {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--white-color);
  background: var(--secondary-color);
  padding: 8.5px 28px;
  border-radius: 20px;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .3s ease-in-out;
}
.header__btn-enter:hover {
  cursor: pointer;
  color: var(--secondary-color);
  background: var(--white-color);
}
.header__btn-enter_type_color:hover {
  color: var(--white-color);
  background: var(--secondary-color);
  box-shadow: 0px 4px 15px rgba(253, 81, 81, 0.6);
}

@media all and (max-width: 1599px) {
  .header__logo {
    width: 320px;
    height: 40px;
  }
  .nav__link {
    font-size: 18px;
    line-height: 23px;
  }
  .header__btn-enter {
    font-size: 18px;
    line-height: 23px;
    padding: 8.5px 24px;
  }
}

@media all and (max-width: 1420px) {
  .nav__link {
    font-size: 16px;
    line-height: 19px;
  }
  .header__btn-enter {
    font-size: 16px;
    line-height: 19px;
    padding: 6.5px 18px;
  }
}

@media all and (max-width: 1023px) {
  .header {
    padding: 12px 16px;
  }
}