.programs {
  width: 100%;
  margin: 0px auto 0px;
  padding: 0px 80px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding-bottom: 112px;
}
.programs__round {
  position: absolute;
  top: 0px;
  right: -42px;
  width: 84px;
  height: 84px;
  background: var(--secondary-color);
  border-radius: 50%;
}
.programs__title {
  margin: 0px 0px 0px auto;
  max-width: 840px;
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 86px;
  text-align: right;
  color: var(--title-color);
}
.programs__list {
  margin: 50px 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.programs__item {
  margin: 30px 0px 0px 0px;
  width: 450px;
  border-radius: 16px;
  background: var(--white-color);
}
.programs__top {
  position: relative;
  margin: 0px;
  width: 100%;
  height: 218px;
  border-radius: 16px 16px 0px 0px;
}
.programs__tags {
  display: flex;
  align-items: center;
  padding: 16px;
}
.programs__tag {
  margin: 0px 12px 0px 0px;
  padding: 8px 16px;
  background: var(--secondary-color);
  border-radius: 100px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--white-color);
  user-select: none;
  pointer-events: none;
}
.programs__btn {
  position: absolute;
  bottom: -32px;
  right: 40px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  background-image: url('../../images/arrow-program.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  transition: all .3s ease-in-out;
}
.programs__btn:hover {
  cursor: pointer;
  background-color: var(--main-color);
}
.programs__top_type_1 {
  background-image: url('../../images/programs/program-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs__top_type_2 {
  background-image: url('../../images/programs/program-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs__top_type_3 {
  background-image: url('../../images/programs/program-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs__top_type_4 {
  background-image: url('../../images/programs/program-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs__top_type_5 {
  background-image: url('../../images/programs/program-5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs__top_type_6 {
  background-image: url('../../images/programs/program-6.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs__top_type_7 {
  background-image: url('../../images/programs/program-7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs__top_type_8 {
  background-image: url('../../images/programs/program-8.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs__top_type_9 {
  background-image: url('../../images/programs/program-9.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.programs__bottom {
  margin: 0px;
  padding: 40px 48px;
  min-height: 218px;
  box-sizing: border-box;
}
.programs__text {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: var(--title-color);
}
.programs__link-container {
  position: relative;
  width: 100%;
  margin: 32px 0px 0px 0px;
  display: flex;
  justify-content: center;
}
.programs__link {
  position: relative;
  margin: 0px auto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  padding: 12px 48px 12px 22px;
  text-decoration: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--white-color);
  background-color: var(--secondary-color);
  box-shadow: 0 8px 12px -8px rgb(255 255 255 / 90%);
  transition: all .3s ease-in-out;
}
.programs__link:hover {
  color: var(--white-color);
  background-color: var(--main-color);
  box-shadow: 0 8px 12px -8px rgb(0 55 196 / 90%);
  cursor: pointer;
}
.programs__link:after {
  content: '';
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url('../../images/arrow-program.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media all and (max-width: 1599px) {
  .programs__item {
    width: 400px;
  }
}

@media all and (max-width: 1420px) {
  .programs__title {
    max-width: 840px;
    font-size: 60px;
    line-height: 72px;
  }
  .programs__item {
    width: 350px;
  }
  .programs__bottom {
    padding: 40px 32px;
    min-height: 268px;
  }
  .programs__btn {
    bottom: -24px;
    width: 48px;
    height: 48px;
  }
}

@media all and (max-width: 1023px) {
  .programs {
    margin: 40px 0px 0px 0px;
    padding: 0px 16px;
    padding-bottom: 40px;
  }
  .programs__title {
    margin: 0px auto 0px 0px;
    max-width: 350px;
    font-size: 24px;
    line-height: 1.3;
    text-align: left;
  }
  .programs__list {
    margin: 0px;
  }
  .programs__bottom {
    padding: 40px 16px 32px 16px;
    min-height: 140px;
  }
}

@media all and (max-width: 750px) {
  .programs__list {
    justify-content: center;
  }
}